# Decison Trees

In [19]:
import numpy as np
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib

input_file = "CLV.xlsx"
df = pd.read_excel(input_file, header = 0)
df.head()

,Customer_no,Age,Bank_Balance,(Average)Interest Rate Margin(%),Loan_Interest,Fees_Service,Total_Earning,Retain_Amount,Service_Spent,Discount_Rate,Discount_Amount,Totl_Spend,Gross_Margin,Retention_rate,CLV,CLV_TYPE
0,1,41,15139.00,1.81,4547.73,5000.00,24689.46,352.08,188.51,0.1,507.36,1048.05,23641.41,0.478,18168.16,L
1,2,41,54341.00,1.61,4770.36,1864.29,60977.28,217.14,235.47,0.1,1005.89,1458.60,59518.68,0.478,45739.44,M
2,3,21,40554.80,2.65,615.75,3670.18,44843.38,198.23,116.00,0.1,987.73,1302.06,43541.32,0.478,33461.01,M
3,4,37,59998.73,2.37,1549.40,3717.14,65267.64,111.43,169.16,0.1,1643.14,1923.83,63343.81,0.478,48679.01,M
4,5,18,75661.51,2.21,1732.38,3344.89,80740.99,467.49,132.71,0.1,1434.05,2034.35,78706.64,0.478,60485.17,M

In [20]:
a={"L":0, "M":1, "H":2}
df['CLV_TYPE'] = df['CLV_TYPE'].map(a)
df.head()

,Customer_no,Age,Bank_Balance,(Average)Interest Rate Margin(%),Loan_Interest,Fees_Service,Total_Earning,Retain_Amount,Service_Spent,Discount_Rate,Discount_Amount,Totl_Spend,Gross_Margin,Retention_rate,CLV,CLV_TYPE
0,1,41,15139.00,1.81,4547.73,5000.00,24689.46,352.08,188.51,0.1,507.36,1048.05,23641.41,0.478,18168.16,0
1,2,41,54341.00,1.61,4770.36,1864.29,60977.28,217.14,235.47,0.1,1005.89,1458.60,59518.68,0.478,45739.44,1
2,3,21,40554.80,2.65,615.75,3670.18,44843.38,198.23,116.00,0.1,987.73,1302.06,43541.32,0.478,33461.01,1
3,4,37,59998.73,2.37,1549.40,3717.14,65267.64,111.43,169.16,0.1,1643.14,1923.83,63343.81,0.478,48679.01,1
4,5,18,75661.51,2.21,1732.38,3344.89,80740.99,467.49,132.71,0.1,1434.05,2034.35,78706.64,0.478,60485.17,1

In [21]:
# features = list(df.columns[1:14])
y = df["CLV_TYPE"]
X = df[['Bank_Balance','(Average)Interest Rate Margin(%)','Loan_Interest','Fees_Service','Total_Earning','Retain_Amount','Service_Spent','Discount_Rate','Discount_Amount','Gross_Margin','Retention_rate']]

In [22]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.70)

In [23]:
# # Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [24]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(n_estimators = 10, random_state = 30)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=30, verbose=0,
                       warm_start=False)

In [25]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
print(y_pred)

[1 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1
 1 1 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 1 2 1 1 0 0 1 1 1 1 0 1 0 0 1 1 0 1 1 0
 1 0 0 0 1 2 2 0 0 1 1 1 1 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 0 1 1
 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 1 1 1 1 2 1 0
 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1 1 0 1 1 1 0 0 0 1
 1 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0
 0 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 0 2 1 1 1 0 1 1 1 1 0 0 1 1 1 0 0 1 1 1 1
 1 1 1 1]

In [26]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [27]:
# Here we check the Accuracy of our model
print("The Confusion Matrix is :")
from sklearn import metrics
print("Accuracy of Random Forest Model is:",
     metrics.accuracy_score(y_test,y_pred)*100,"%")
X.head()

The Confusion Matrix is :
Accuracy of Random Forest Model is: 99.33333333333333 %

,Bank_Balance,(Average)Interest Rate Margin(%),Loan_Interest,Fees_Service,Total_Earning,Retain_Amount,Service_Spent,Discount_Rate,Discount_Amount,Gross_Margin,Retention_rate
0,15139.00,1.81,4547.73,5000.00,24689.46,352.08,188.51,0.1,507.36,23641.41,0.478
1,54341.00,1.61,4770.36,1864.29,60977.28,217.14,235.47,0.1,1005.89,59518.68,0.478
2,40554.80,2.65,615.75,3670.18,44843.38,198.23,116.00,0.1,987.73,43541.32,0.478
3,59998.73,2.37,1549.40,3717.14,65267.64,111.43,169.16,0.1,1643.14,63343.81,0.478
4,75661.51,2.21,1732.38,3344.89,80740.99,467.49,132.71,0.1,1434.05,78706.64,0.478

In [28]:
# Here we predict the value CLV from the inputs of a new Customer 
# We import the package RandomForestRegressor from sklearn.ensemble to predict 
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(n_estimators=10)
clf = clf.fit(X, y)
a=float(input("Enter The Customer Bank Balance:"))
b=float(input("Enter The (Average)Interest Rate Margin(%) :"))
c=float(input("Loan_Interest :"))
d=float(input("Fees_Service :"))
e=a+b+c+d
f=float(input("Retain_Amount :"))
g=float(input("Service_Spent :"))
h=float(input("Discount_Rate :"))
i=float(input("Discount_Amount :"))
j=e-f-g-h-i
k=float(input("Retention_rate :"))
print("The Predicted Value of CLV is :",clf.predict([[a,b,c,d,e,f,g,h,i,j,k]]))
f=clf.predict([[a,b,c,d,e,f,g,h,i,j,k]])
# f=clf.predict([[200000,3.15,615.75,5000,2500,2000,0.1,12000,77115.75,0.478]])
if f==0:
  print("The CLV is Low")
elif f==1:
  print("The CLV is Medium")
else:
  print("The CLV is High")

Enter The Customer Bank Balance:2
Enter The (Average)Interest Rate Margin(%) :2
Loan_Interest :2
Fees_Service :2
Retain_Amount :2
Service_Spent :2
Discount_Rate :2
Discount_Amount :2
Retention_rate :2
The Predicted Value of CLV is : [0.]
The CLV is Low

2## # Plot Showing the count of customers having Various types of CLV
# df['CLV_TYPE'].value_counts().plot('bar')

In [12]:
# %matplotlib inline
# import numpy as np
# df1=df[['Age','CLV']]
# bins =  np.arange(20,50,5)
# groups = df1.groupby(pd.cut(df1['Age'],bins)).mean()
# print(groups.head())
# groups['CLV'].plot.line()