# Predicting the Loan Status of a Customer Using Logistic Regression

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model 
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder 


# Importing the dataset 
input_file = "Dataset.csv"
df = pd.read_csv(input_file, header = 0)

# Removing the Rows with empty Values
df=df.dropna()

# Encoding the Categorical Value with Numeric Values 
# (We are doing it to replace the string values with numeric as ML Algorithms only works with numeric values)
# Here I have showed two ways by which you can encode 

# Replacing Categorical Values Using a Dictionary
a={"3+":5,"0":0,"1":1,"2":2}
df['Dependents'] = df['Dependents'].map(a)

# Replacing the Categorical Values Using Label Enoders by importing the package LabelEncoder from sklearn.preprocessing
le = LabelEncoder() 
df['Loan_ID']= le.fit_transform(df['Loan_ID']) 
df['Gender']= le.fit_transform(df['Gender']) 
df['Married']= le.fit_transform(df['Married']) 
df['Education']= le.fit_transform(df['Education']) 
df['Self_Employed']= le.fit_transform(df['Self_Employed']) 
df['Property_Area']= le.fit_transform(df['Property_Area'])
df['Loan_Status']= le.fit_transform(df['Loan_Status']) 
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [30]:
# Defining the Dependent and Independent Variables for our model 
# Note:- We are going to Predict the Dependent Variable

Y = df[['Loan_Status']]   # Dependent Variable 
X = df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']] # Independent Variable

In [31]:
# Splitting the dataset into the Training set and Test set

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30 ,random_state = 0)

In [32]:
# Feature Scaling to prevent overfitting

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [34]:
# Fitting Logistic Regression to the Training set

classifier = linear_model.LogisticRegression()
m=classifier.fit(X_train, Y_train)

C:\Users\Arafat\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Arafat\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [35]:
# Predicting the Test set results

y_pred = classifier.predict(X_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1]

In [23]:
# Making the Confusion Matrix that will help us predict the Accuracy of the model 

cm = confusion_matrix(Y_test, y_pred)
print(cm) # We Print Our confucion Matrix (Optional)

[[18 31]
 [ 0 95]]

In [36]:
# Using our Confusion Matrix to get the accuracy 

print("Accuracy of Logistic Regression Model is:",
     metrics.accuracy_score(Y_test,y_pred)*100,"%")
X.head()

Accuracy of Logistic Regression Model is: 78.47222222222221 %

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2

In [25]:
a=float(input("Enter The Gender the Customer Male(1) Female(0) : "))
b=float(input("Married(1),Unmarried(0) : "))
c=float(input("Enter The Total Number of Dependants : "))
d=float(input("Education Graduate(0) Ungraduate(1) : "))
e=float(input("Self Employment No(0) yes(1) : "))
f=float(input("Enter The Applicant Income : "))
g=float(input("Enter The Coapplicant Income : "))
h=float(input("Enter The LoanAmount : "))
i=float(input("Enter The Loan_Amount_Term : "))
j=float(input("Enter The Credit_History 1,0 : "))
k=float(input("Enter The Property_Area Rural(0) , Semi-Urban(1) , Urban(2) : "))
l=m.predict([[a,b,c,d,e,f,g,h,i,j,k]])
print("The Loan Prediction is that ")
if l==0:
  print("the Customer is not Eligible for a Loan !!")
elif l==1:
  print("the Customer is Eligible for a Loan !!")

Enter The Gender the Customer Male(1) Female(0) : 1
Married(1),Unmarried(0) : 0
Enter The Total Number of Dependants : 6
Education Graduate(0) Ungraduate(1) : 1
Self Employment No(0) yes(1) : 0
Enter The Applicant Income : 1222
Enter The Coapplicant Income : 5000
Enter The LoanAmount : 1221
Enter The Loan_Amount_Term : 180
Enter The Credit_History 1,0 : 1
Enter The Property_Area Rural(0) , Semi-Urban(1) , Urban(2) : 1
The Loan Prediction is that
the Customer is not Eligible for a Loan !!